h1 {
  color: #002395;
}

body{
  background-image: url("/static/img/zielony.jpg");
}
#jf {
    background: #3CB371;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#jf ul li, #jf p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#jf ul {
    display: inline;
    float: right
}
#a {
  float: right;
  width:30%;
  clear: right;
  display: inline;
}
#t {
  float: left;
  width: 30%;
  clear: left;
  display: inline;
}
#img1{
  float: left;
  display: inline;
  width: 30%;
  clear:left;
}
#img2 {
  float: right;
  display: inline;
  width: 18%;
  clear: right;
}
#i {

  position: absolute;
  bottom: 0px;

}
#l {
  position: absolute;
  bottom: 0px;
  

}


}

#od {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#od ul li, #od p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#od ul {
    display: inline;
    float: right
}
#wg {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#wg ul li, #wg p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#wg ul {
    display: inline;
    float: right
}
#sp {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#sp ul li, #sp p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#sp ul {
    display: inline;
    float: right
}
#gs {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#gs ul li, #gs p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#gs ul {
    display: inline;
    float: right
}
#jm {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#jm ul li, #jm p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#jm ul {
    display: inline;
    float: right
}
#AS {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#AS ul li, #AS p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#AS ul {
    display: inline;
    float: right
}
#BK {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#BK ul li, #BK p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#BK ul {
    display: inline;
    float: right
}
#GO {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#GO ul li, #GO p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#GO ul {
    display: inline;
    float: right
}
#GSCH {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#GSCH ul li, #GSCH p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#GSCH ul {
    display: inline;
    float: right
}
#PP {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#PP ul li, #PP p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#PP ul {
    display: inline;
    float: right
}
#SG {
  background:#3CB371	;
    display: block;
    height: auto;
    margin: 5px 5px 0;
    overflow: auto
}

#SG ul li, #SG p {
    color: black;
    display: table-cell;
    font-family: Trebuchet MS;
    font-size: 18px;
    height: 40px;
    padding-left: 24px;
    vertical-align: middle;
    float: left
}

#SG ul {
    display: inline;
    float: right
}
