{% extends 'base.html' %}

{% block content %}
    <h1><center>190 AWF - Os. Sobieskiego/Os. Sobieskiego - AWF</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="AS">
      <h3>AWF - Os. Sobieskiego</h3>
      <ul>

        <li>AWF</li>
        <li>Most Św. Rocha</li>
        <li>Mostowa</li>
        <li>Wielka</li>
        <li>Małe Garbary</li>
        <li>Garbary</li>
        <li>Winogrady (NŻ)</li>
        <li>Wilczak</li>
        <li>Wójtowska</li>
        <li>Os. Pod Lipami</li>
        <li>Os. Przyjaźni</li>
        <li>Ozimina</li>
        <li>Słowiańska</li>
        <li>Koronna</li>
        <li>Św. Leonarda</li>
        <li>Trójpole</li>
        <li>Piątkowska</li>
        <li>Włościańska</li>
        <li>Suszki</li>
        <li>Os. Chrobrego</li>
        <li>Os. Jagiełły</li>
        <li>Wieża RTV</li>
        <li>Os. Marysieńki I</li>
        <li>Os. Marysieńki II</li>
        <li>Os. Sobieskiego II (NŻ)</li>
        <li>Os. Sobieskiego I (NŻ)</li>
        <li>Os. Sobieskiego</li>
      </ul>
        <h3>Os. Sobieskiego - AWF</h3>
      <ul>

        <li>Os. Sobieskiego</li>
        <li>Os. Zygmunta Starego</li>
        <li>Szymanowskiego</li>
        <li>Wieża RTV</li>
        <li>Os. Jagiełły</li>
        <li>Os. Chrobrego</li>
        <li>Suszki</li>
        <li>Włościańska</li>
        <li>Piątkowska</li>
        <li>Trójpole</li>
        <li>Św. Leonarda</li>
        <li>Słowiańska</li>
        <li>Słowiańska</li>
        <li>Ozimina</li>
        <li>Os. Przyjaźni</li>
        <li>Os. Pod Lipami</li>
        <li>Wilczak</li>
        <li>Winogrady (NŻ)</li>
        <li>Garbary</li>
        <li>Grochowe Łąki</li>
        <li>Małe Garbary</li>
        <li>Grobla</li>
        <li>Pl. Bernardyński</li>
        <li>AWF</li>
      </ul>
    </div>
      <table style="float:left">
      <caption>AWF - Os. Sobieskiego</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
      </tr>
      <tr>
        <td><b>5</b> 32 44</td><td><b>5</b> 22 42</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 04 19 32 44</td><td><b>6</b> 02 22 42</td><td><b>6</b> 16 46</td>
      </tr>
      <tr>
        <td><b>7</b> 04 19 32 44 </td><td><b>7</b> 02 22 42</td><td><b>7</b> 02 32</td>
      </tr>
      <tr>
        <td><b>8</b> 04 15 32 44 58</td><td><b>8</b> 02 22 42</td><td><b>8</b> 16 46</td>
      </tr>
      <tr>
        <td><b>9</b> 15 32 44 58</td><td><b>9</b> 02 22 42</td><td><b>9</b> 16 46</td>
      </tr>
      <tr>
        <td><b>10</b> 15 30 44 58</td><td><b>10</b> 02 25 45</td><td><b>10</b> 16 46</td>
      </tr>
      <tr>
        <td><b>11</b> 15 30 44 58</td><td><b>11</b> 05 25 48</td><td><b>11</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>12</b> 16 29 42 59</td><td><b>12</b> 05 25 48</td><td><b>12</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>13</b> 16 29 42 59</td><td><b>13</b> 10 30 48</td><td><b>13</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>14</b> 16 29 42 59</td><td><b>14</b> 10 30 48</td><td><b>14</b> 05 26 48</td>
      </tr>
      <tr>
        <td><b>15</b> 16 29 42 59</td><td><b>15</b> 10 30 48</td><td><b>15</b> 05 26 48</td>
      </tr>
      <tr>
        <td><b>16</b> 16 29 42 59</td><td><b>16</b> 10 30 48</td><td><b>16</b> 05 26 48/<td>
      </tr>
      <tr>
        <td><b>17</b> 16 29 42 59</td><td><b>17</b> 04 24 44</td><td><b>17</b> 05 25 48</td>
      </tr>
      <tr>
        <td><b>18</b> 16 29 42 59</td><td><b>18</b> 04 24 44</td><td><b>18</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>19</b> 22 42</td><td><b>19</b> 04 24 44</td><td><b>19</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>20</b> 02 22 42</td><td><b>20</b> 02 22 42</td><td><b>20</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>21</b> 02 22 42</td><td><b>21</b> 02 22 42</td><td><b>21</b> 03 23 43 48</td>
      </tr>
      <tr>
        <td><b>22</b> 02 22 42</td><td><b>22</b> 04 23 43 56</td><td><b>22</b> 03 23 43 56</td>
      </tr>
      </table>
      <table style="float:right">
      <caption>Os. Sobieskiego - AWF</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
      </tr>
      <tr>
        <td><b>5</b> 32 44</td><td><b>5</b> 22 42</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 04 19 32 44</td><td><b>6</b> 02 22 42</td><td><b>6</b> 16 46</td>
      </tr>
      <tr>
        <td><b>7</b> 04 19 32 44 </td><td><b>7</b> 02 22 42</td><td><b>7</b> 02 32</td>
      </tr>
      <tr>
        <td><b>8</b> 04 15 32 44 58</td><td><b>8</b> 02 22 42</td><td><b>8</b> 16 46</td>
      </tr>
      <tr>
        <td><b>9</b> 15 32 44 58</td><td><b>9</b> 02 22 42</td><td><b>9</b> 16 46</td>
      </tr>
      <tr>
        <td><b>10</b> 15 30 44 58</td><td><b>10</b> 02 25 45</td><td><b>10</b> 16 46</td>
      </tr>
      <tr>
        <td><b>11</b> 15 30 44 58</td><td><b>11</b> 05 25 48</td><td><b>11</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>12</b> 16 29 42 59</td><td><b>12</b> 05 25 48</td><td><b>12</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>13</b> 16 29 42 59</td><td><b>13</b> 10 30 48</td><td><b>13</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>14</b> 16 29 42 59</td><td><b>14</b> 10 30 48</td><td><b>14</b> 05 26 48</td>
      </tr>
      <tr>
        <td><b>15</b> 16 29 42 59</td><td><b>15</b> 10 30 48</td><td><b>15</b> 05 26 48</td>
      </tr>
      <tr>
        <td><b>16</b> 16 29 42 59</td><td><b>16</b> 10 30 48</td><td><b>16</b> 05 26 48/<td>
      </tr>
      <tr>
        <td><b>17</b> 16 29 42 59</td><td><b>17</b> 04 24 44</td><td><b>17</b> 05 25 48</td>
      </tr>
      <tr>
        <td><b>18</b> 16 29 42 59</td><td><b>18</b> 04 24 44</td><td><b>18</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>19</b> 22 42</td><td><b>19</b> 04 24 44</td><td><b>19</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>20</b> 02 22 42</td><td><b>20</b> 02 22 42</td><td><b>20</b> 03 23 43</td>
      </tr>
      <tr>
        <td><b>21</b> 02 22 42</td><td><b>21</b> 02 22 42</td><td><b>21</b> 03 23 43 48</td>
      </tr>
      <tr>
        <td><b>22</b> 02 22 42</td><td><b>22</b> 04 23 43 56</td><td><b>22</b> 03 23 43 56</td>
      </tr>
      </table>
{% endblock %}
