{% extends 'base.html' %}

{% block content %}
    <h1><center>144 Boranta - Kurpińskiego/Kurpińskiego - Boranta</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="BK">
      <h3>Boranta - Kurpińskiego</h3>
      <ul>

        <li>Boranta</li>
        <li>Boranta I (na żądanie)</li>
        <li>Bronisza</li>
        <li>Rubież</li>
        <li>Os. Łokietka I</li>
        <li>Kupały</li>
        <li>Łużycka (na żądanie)</li>
        <li>Stoińskiego</li>
        <li>Kurpińskiego</li>
      </ul>
      <h3>Kurpińskiego - Boranta</h3>

      <ul>

        <li>Kurpińskiego</li>
        <li>Kurpińskiego</li>
        <li>Stoińskiego</li>
        <li>Kupały</li>
        <li>Os. Łokietka I</li>
        <li>Rubież</li>
        <li>Bronisza</li>
        <li>Boranta</li>
      </ul>
    </div>
      <table style="float:left">
      <caption>Boranta - Kurpińskiego</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
      </tr>
      <tr>
        <td><b>5</b> 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>7</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>8</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>9</b> 10</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>10</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>11</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>12</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>13</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>14</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>15</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>16</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>17</b> 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>18</b> 10 50</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>19</b> 20</td><td>-</td><td>-</td>
      </tr>
      </table>
      <table style="float:right">
      <caption>Kurpińskiego - Boranta</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
      </tr>
      <tr>
        <td><b>5</b> 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 21 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>7</b> 22 52</td><td>-</td><td>-<td/>
      </tr>
      <tr>
        <td><b>8</b> 22 52</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>9</b> 21</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>10</b> 21 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>11</b> 21 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>12</b> 22 52</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>13</b> 22 52</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>14</b> 22 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>15</b> 23 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>16</b> 23 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>17</b> 23 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>18</b> 21</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>19</b> 01 31</td><td>-</td><td>-</td>
      </tr>
      </table>
{% endblock %}
