{% extends 'base.html' %}

{% block content %}
    <h1><center>144 Boranta - Kurpińskiego/Kurpińskiego - Boranta</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="BK">
      <h3>Boranta - Kurpińskiego</h3>
      <ul>

        <li>Boranta</li>
        <li>Boranta I (na żądanie)</li>
        <li>Bronisza</li>
        <li>Rubież</li>
        <li>Os. Łokietka I</li>
        <li>Kupały</li>
        <li>Łużycka (na żądanie)</li>
        <li>Stoińskiego</li>
        <li>Kurpińskiego</li>
      </ul>
      <h3>Kurpińskiego - Boranta</h3>

      <ul>

        <li>Kurpińskiego</li>
        <li>Kurpińskiego</li>
        <li>Stoińskiego</li>
        <li>Kupały</li>
        <li>Os. Łokietka I</li>
        <li>Rubież</li>
        <li>Bronisza</li>
        <li>Boranta</li>
      </ul>
    </div>
      <table style="float:left">
      <caption>Boranta - Kurpińskiego</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
      </tr>
      <tr>
        <td>5 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>6 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>7 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>8 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>9 10</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>10 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>11 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>12 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>13 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>14 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>15 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>16 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>17 10 40</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>18 10 50</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>19 20</td><td>-</td><td>-</td>
      </tr>
      </table>
      <table style="float:right">
      <caption>Kurpińskiego - Boranta</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
      </tr>
      <tr>
        <td>5 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>6 21 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>7 22 52</td><td>-</td><td>-<td/>
      </tr>
      <tr>
        <td>8 22 52</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>9 21</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>10 21 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>11 21 51</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>12 22 52</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>13 22 52</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>14 22 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>15 23 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>16 23 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>17 23 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>18 21</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>19 01 31</td><td>-</td><td>-</td>
      </tr>
      </table>
{% endblock %}
