{% extends 'base.html' %}

{% block content %}
    <h1><center>1-JUNIKOWO-FRANOWO/FRANOWO-JUNIKOWO</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="jf">



      <h3>Junikowo-Franowo</h3>
      <ul>
        <li>Junikowo</li>
        <li>Cmentarna</li>
        <li>Grotkowska</li>
        <li>Budziszyńska</li>
        <li>Rondo Skubiszewskiego</li>
        <li>Węgorka</li>
        <li>Stadion Miejski</li>
        <li>Drzewieckiego</li>
        <li>Grochowska</li>
        <li>Ostroroga</li>
        <li>Rondo Nowaka-Jeziorańskiego</li>
        <li>Arena</li>
        <li>Arciszewskiego</li>
        <li>Głogowska/Hetmańska</li>
        <li>Głogowska/Hetmańska</li>
        <li>Kolejowa</li>
        <li>Traugutta</li>
        <li>Rolna</li>
        <li>Hetmańska Wiadukt</li>
        <li>Rondo Starołęka</li>
        <li>Rondo Starołęka</li>
        <li>Rondo Żegrze</li>
        <li>Rondo Żegrze</li>
        <li>Żegrze I</li>
        <li>Żegrze II</li>
        <li>Żegrze III</li>
        <li>Os. Czecha</li>
        <li>Piaśnicka Rynek</li>
        <li>Piaśnicka/Kurlandzka</li>
        <li>Szwedzka</li>
        <li>Szwajcarska</li>
        <li>Franowo</li>
      </ul>
      <h3>Franowo-Junikowo</h3>
      <ul>
        <li>Franowo</li>
        <li>Szwajcarska</li>
        <li>Szwedzka</li>
        <li>Piaśnicka/Kurlandzka</li>
        <li>Piaśnicka Rynek</li>
        <li>Os. Czecha</li>
        <li>Żegrze III</li>
        <li>Żegrze II</li>
        <li>Żegrze I</li>
        <li>Rondo Żegrze</li>
        <li>ROndo Żegrze</li>
        <li>Rondo Starołęka</li>
        <li>Rondo Starołęka</li>
        <li>Hetmańska Wiadukt</li>
        <li>Głogowska/Hetmańska</li>
        <li>Rolna</li>
        <li>Traugutta</li>
        <li>Kolejowa</li>
        <li>Głogowska/Hetmańska</li>
        <li>Arciszewskiego</li>
        <li>Arena</li>
        <li>Rondo Nowaka-Jeziorańskiego</li>
        <li>Ostroroga</li>
        <li>Grochowska</li>
        <li>Drzewieckiego</li>
        <li>Stadion Miejski</li>
        <li>Węgorka</li>
        <li>Rondo Skubiszewskiego</li>
        <li>Budziszyńska</li>
        <li>Grotkowska</li>
        <li>Cmentarna</li>
        <li>Junikowo</li>
        <li>Junikowo</li>
      </ul>
    </div>



  <table style="float:left">
  <caption>Junikowo-Franowo</caption>



    <tr>
      <td>DNI ROBOCZE</td> <td>SOBOTY</td> <td>NIEDZIELE I ŚWIĘTA</td>
    </tr>
      <td>4 48</td><td>4 51</td><td>-</td>
    <tr>
      <td>5 02 16 31 46</td><td>5 10 29 49</td><td>-</td>
    </tr>
    <tr>
      <td>6 01 16 28 36 46 56</td><td>6 09 29 49</td><td>6 16 46</td>
    </tr>
    <tr>
      <td>7 06 16 26 36 46 56</td><td>7 09 29 49</td><td>16 46</td>
    </tr>
    <tr>
      <td>8 06 16 26 36 46 56</td><td>8 09 29 49</td><td>16 46</td>
    </tr>
    <tr>
      <td>9 03 13 25 37 49 54</td><td>9 09 29 49</td><td>9 16 46</td>
    </tr>
    <tr>
      <td>10 01 13 25 37 49</td><td>10 09 29 49</td><td>10 09 29 49</td>
    </tr>
    <tr>
      <td>11 01 13 25 37 49</td><td>11 09 29 49</td><td>11 09 29 49</td>
    </tr>
    <tr>
      <td>12 01 13 25 37 49</td><td>12 09 29 49</td><td>12 09 29 49</td>
    </tr>
    <tr>
      <td>13 01 13 25 37 49</td><td>13 09 29 49</td><td>13 09 29 49</td>
    </tr>
    <tr>
      <td>14 06 16 26 36 46 56</td><td>14 09 29 49</td><td>14 09 29 49</td>
    </tr>
    <tr>
      <td>15 06 16 26 36 46 56</td><td>15 09 29 49</td><td>15 09 29 49</td>
    </tr>
    <tr>
      <td>16 06 26 36 46 56</td><td>16 09 29 49</td><td>16 09 29 49</td>
    </tr>
    <tr>
      <td>17 06 16 26 36 46 56</td><td>17 09 29 49</td><td>17 09 29 49</td>
    </tr>
    <tr>
      <td>18 06 16 26 36 49 57</td><td>18 09 29 49</td><td>18 09 29 49</td>
    </tr>
    <tr>
      <td>19 09 29 49</td><td>19 09 29 49</td><td>19 09 29 49</td>
    </tr>
    <tr>
      <td>20 09 29 49</td><td>20 09 29 49</td><td>20 09 29 49</td>
    </tr>
    <tr>
      <td>21 09 29 49</td><td>21 09 29 49</td><td>21 09 29 49</td>
    </tr>
    <tr>
      <td>22 09 29 49</td><td>22 09 29 49</td><td>22 09 29 49</td>
    </tr>
    <tr>
      <td>23 00</td><td>23 00</td><td>23 00</td>
  </table>

  <table style="float:right">
  <caption>Franowo Junikowo</caption>
    <tr>
      <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
    <tr>
      <td>4 23 33 41 56</td><td>4 13 28 41</td><td>4 -</td>
    </tr>
    <tr>
      <td>5 10 23 38 53</td><td>5 01 20 40</td><td>5 36</td>
    </tr>
    <tr>
      <td>6 00 08 19 30 39 49 59</td><td>6 00 20 40</td><td>6 01 14 44</td>
    </tr>
    <tr>
      <td>7 09 19 29 39 49</td><td>7 00 20 40</td><td>7 14 44</td>
    </tr>
    <tr>
      <td>8 09 19 29 39 49 58</td><td>8 00 20 40</td><td>8 14 44</td>
    </tr>
    <tr>
      <td>9 07 18 30 42 54</td><td>9 00 20 40</td><td>9 14 40</td>
    </tr>
    <tr>
      <td>10 06 18 30 42 54</td><td>10 00 20 40</td><td>10 00 20 40</td>
    </tr>
    <tr>
      <td>11 06 18 30 42 54</td><td>11 00 20 40</td><td>11 00 20 40</td>
    </tr>
    <tr>
      <td>12 06 18 30 42 54</td><td>12 00 20 40</td><td>12 00 20 40</td>
    </tr>
    <tr>
      <td>13 06 18 30 42 50 59</td><td>13 00 20 40</td><td>13 00 20 40</td>
    </tr>
    <tr>
      <td>14 09 19 29 39 49 59</td><td>14 00 20 40</td><td>14 00 20 40</td>
    </tr>
    <tr>
      <td>15 09 19 29 39 49 59</td><td>15 00 20 40</td><td>15 00 20 40</td>
    </tr>
    <tr>
      <td>16 09 19 29 39 49 59</td><td>16 00 20 40</td><td>16 00 20 40</td>
    </tr>
    <tr>
      <td>17 09 19 29 39 49 59</td><td>17 00 20 40</td><td>17 00 20 40</td>
    </tr>
    <tr>
      <td>18 09 19 29 39 49 59</td><td>18 00 20 40</td><td>18 00 20 40</td>
    </tr>
    <tr>
      <td>19 00 20 40</td><td>19 00 20 40</td><td>19 00 20 40</td>
    </tr>
    <tr>
      <td>20 00 20 40</td><td>20 00 20 40</td><td>20 00 20 40</td>
    </tr>
    <tr>
      <td>21 00 20 40</td><td>21 00 20 40</td><td>21 00 20 40</td>
    </tr>
    <tr>
      <td>22 00 20</td><td>22 00 20</td><td>22 00 20</td>

  </table>


{% endblock %}
