{% extends 'base.html' %}

{% block content %}
    <h1><center>2-OGRODY-DĘBIEC/DĘBIEC-OGRODY</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="od">
      <h3>Ogrody-Dębiec</h3>
      <ul>
        <li>Ogrody</li>
        <li>Żeromskiego</li>
        <li>Polna</li>
        <li>Rynek Jeżycki</li>
        <li>Kraszewskiego</li>
        <li>Zeylanda</li>
        <li>Rondo Kaponiera</li>
        <li>Zamek</li>
        <li>Ratajczaka</li>
        <li>Marcinkowskiego</li>
        <li>Pl. Wiosny Ludów</li>
        <li>Łąkowa</li>
        <li>AWF</li>
        <li>Półwiejska</li>
        <li>Różana</li>
        <li>Rynek Wildecki</li>
        <li>Kosińskiego</li>
        <li>Pamiątkowa</li>
        <li>Traugutta</li>
        <li>HCP</li>
        <li>Wspólna</li>
        <li>Dębiec</li>
      </ul>
      <h3>Dębiec-Ogrody</h3>
      <ul>
          <li>Dębiec</li>
          <li>Wspólna</li>
          <li>HCP</li>
          <li>Traugutta</li>
          <li>Pamiątkowa</li>
          <li>Kosińskiego</li>
          <li>Rynek Wildecki</li>
          <li>Różana</li>
          <li>Półwiejska</li>
          <li>AWF</li>
          <li>Łąkowa</li>
          <li>Arena</li>
          <li>Pl. Wiosny Ludów</li>
          <li>Marcinkowskiego</li>
          <li>Pl. Wolności</li>
          <li>Gwarna</li>
          <li>Ratajczaka</li>
          <li>Zamek</li>
          <li>Rondo Kaponiera</li>
          <li>Zeylanda</li>
          <li>Kraszewskiego</li>
          <li>Rynek Jeżycki</li>
          <li>Polna</li>
          <li>Żeromskiego</li>
          <li>Ogrody</li>
          <li>Żegrze I</li>
          <li>Żegrze II</li>
          <li>Żegrze III</li>
          <li>Os. Czecha</li>
          <li>Piaśnicka Rynek</li>
          <li>Piaśnicka/Kurlandzka</li>
          <li>Szwedzka</li>
          <li>Szwajcarska</li>
          <li>Franowo</li>
        </ul>
      </div>
      <table style="float:right">
      <caption>Dębiec-Ogrody</caption>
        <tr>
          <td>DNI ROBOCZE</td> <td>SOBOTY</td> <td>NIEDZIELE I ŚWIĘTA</td>
        </tr>
          <td>4 52</td><td>4 44</td><td>-</td>
        <tr>
          <td>5 07 20 33 54</td><td>5 04 22 42</td><td>-</td>
        </tr>
        <tr>
          <td>6 03 18 34 44 54 </td><td>6 04 22 42 </td><td>6 05 35</td>
        </tr>
        <tr>
          <td>7 04 14 24 34 44 54</td><td>7 04 22 42</td><td>7 05 35</td>
        </tr>
        <tr>
          <td>8 04 14 24 34 44 54</td><td>8 04 22 42</td><td>8 05 35</td>
        </tr>
        <tr>
          <td>9 07 10 19 31 43 55</td><td>9 04 22 42</td><td>9 05 35</td>
        </tr>
        <tr>
          <td>10 07 19 31 34 43 55</td><td>10 04 22 42</td><td>10 02 22 42</td>
        </tr>
        <tr>
          <td>11 07 19 31 43 55</td><td>11 01 21 41</td><td>11 02 22 42</td>
        </tr>
        <tr>
          <td>12 07 19 31 43 55</td><td>12 01 21 41</td><td>12 02 22 42</td>
        </tr>
        <tr>
          <td>13 07 19 31 43 55</td><td>13 01 21 41</td><td>13 02 22 42</td>
        </tr>
        <tr>
          <td>14 04 14 24 34 44 54</td><td>14 01 21 41</td><td>14 02 22 42</td>
        </tr>
        <tr>
          <td>15 04 14 24 34 44 54</td><td>15 01 21 41</td><td>15 02 22 42</td>
        </tr>
        <tr>
          <td>16 04 14 24 34 44 54</td><td>16 01 21 41</td><td>16 02 22 42</td>
        </tr>
        <tr>
          <td>17 04 14 24 34 44 54</td><td>17 01 21 41</td><td>17 02 22 42</td>
        </tr>
        <tr>
          <td>18 04 14 18 24 42</td><td>18 01 21 41</td><td>18 02 22 42</td>
        </tr>
        <tr>
          <td>19 02 06 22 42</td><td>19 01 21 41</td><td>19 02 22 42</td>
        </tr>
        <tr>
          <td>20 02 22 42 46</td><td>20 02 06 22 42</td><td>20 02 06 22 42</td>
        </tr>
        <tr>
          <td>21 02 22 42</td><td>21 02 22 42</td><td>21 02 22 42</td>
        </tr>
        <tr>
          <td>22 02 22 42 59</td><td>22 02 22 42 59</td><td>22 02 22 42 59</td>
        </tr>
        <tr>
          <td>23 -</td><td>23 -</td><td>23 -</td>
      </table>
      <table style="float:left">
      <caption>Ogrody-Dębiec</caption>
        <tr>
          <td>DNI ROBOCZE</td> <td>SOBOTY</td> <td>NIEDZIELE I ŚWIĘTA</td>
        </tr>
          <td>4 54</td><td>4 44</td><td>-</td>
        <tr>
          <td>5 08 21 36 51</td><td>5 04 24 44</td><td>5 58</td>
        </tr>
        <tr>
          <td>6 06 16 21 31 41 </td><td>6 04 24 44 </td><td>6 28 58</td>
        </tr>
        <tr>
          <td>7 01 11 21 31 41 51</td><td>7 04 24 44</td><td>7 28 58</td>
        </tr>
        <tr>
          <td>8 01 11 21 31 41 51</td><td>8 04 24 44</td><td>8 28 58</td>
        </tr>
        <tr>
          <td>9 00 09 20 32 44 56</td><td>9 04 24 44</td><td>9 24 44</td>
        </tr>
        <tr>
          <td>10 08 20 32 44 56</td><td>10 04 24 44</td><td>10 04 24 44</td>
        </tr>
        <tr>
          <td>11 08 20 32 44 56</td><td>11 04 24 44</td><td>11 04 24 44</td>
        </tr>
        <tr>
          <td>12 08 20 32 44 56</td><td>12 04 24 44</td><td>12 04 24 55</td>
        </tr>
        <tr>
          <td>13 08 20 32 43 52</td><td>13 04 24 44</td><td>13 04 24 44</td>
        </tr>
        <tr>
          <td>14 01 11 21 31 41 51</td><td>14 04 24 44</td><td>14 04 24 44</td>
        </tr>
        <tr>
          <td>15 01 11 21 31 41 51</td><td>15 04 24 44</td><td>15 04 24 44</td>
        </tr>
        <tr>
          <td>16 01 11 21 31 41 51</td><td>16 04 24 44</td><td>16 04 24 44</td>
        </tr>
        <tr>
          <td>17 01 11 21 31 41 51</td><td>17 04 24 44</td><td>17 04 24 44</td>
        </tr>
        <tr>
          <td>18 01 11 21 31 44 54</td><td>18 04 24 44</td><td>18 04 24 44</td>
        </tr>
        <tr>
          <td>19 04 24 44</td><td>19 04 24 44</td><td>19 04 24 44</td>
        </tr>
        <tr>
          <td>20 04 24 44</td><td>20 04 24 44</td><td>20 04 24 44</td>
        </tr>
        <tr>
          <td>21 04 24 44</td><td>21 04 24 44</td><td>21 04 24 44</td>
        </tr>
        <tr>
          <td>22 04 24 41 58</td><td>22 04 24 41 58</td><td>22 04 24 41 58</td>
        </tr>
        <tr>
          <td>23 -</td><td>23 -</td><td>23 -</td>
      </table>





{% endblock %}
