{% extends 'base.html' %}

{% block content %}
    <h1><center>170 Puszkina - Połabska/Rondo Solidarności - Pszkina</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="PP">
      <h3>Połabska - Puszkina</h3>
      <ul>

        <li>Puszkina</li>
        <li>Tołstoja (NŻ)</li>
        <li>Literacka</li>
        <li>Hezjoda</li>
        <li>Literacka I (NŻ)</li>
        <li>Golęcińska</li>
        <li>Golęcin</li>
        <li>Wojska Polskiego (NŻ)</li>
        <li>Dojazd Biocentrum (NŻ)</li>
        <li>Os. Winiary</li>
        <li>Os. Powstańców W-wy</li>
        <li>Aleje Solidarności</li>
        <li>Os. Zwycięstwa</li>
        <li>Połabska</li>
      </ul>
        <h3>Rondo Solidarności - Puszkina</h3>
      <ul>

        <li>Rondo Solidarności</li>
        <li>Połabska</li>
        <li>Os. Zwycięstwa</li>
        <li>Os. Winiary</li>
        <li>Aleje Solidarności</li>
        <li>Dojazd (NŻ)</li>
        <li>Dojazd Biocentrum (NŻ)</li>
        <li>Wojska Polskiego (NŻ)</li>
        <li>Golęcin</li>
        <li>Golęcińska</li>
        <li>Literacka I (NŻ)</li>
        <li>Hezjoda</li>
        <li>Literacka</li>
        <li>Tołstoja (NŻ)</li>
        <li>Puszkina</li>
      </ul>
    </div>
      <table style="float:left">
      <caption>Górczyn-Stomil</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
      </tr>
      <tr>
        <td><b>5</b> 22 42 58</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 12 34 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>7</b> 13 34 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>8</b> 13 34 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>9</b> 18 38 58</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>10</b> 13 33 53</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>11</b> 18 38 58</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>12</b> 14 35 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>13</b> 15 35 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>14</b> 15 35 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>15</b> 15 38 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>16</b> 15 38 55</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>17</b> 15 33 54</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>18</b> 15 38 59</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>19</b> 18 38 54</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>20</b> 12</td><td>-</td><td>-</td>
      </tr>
      </table>
      <table style="float:right">
      <caption>Rondo Solidarności - Puszkina</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
      </tr>
      <tr>
        <td><b>5</b> 10 27 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>7</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>8</b> 09 29 54</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>9</b> 14 34 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>10</b> 09 29 54</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>11</b> 14 34 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>12</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>13</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>14</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>15</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>16</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>17</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>18</b> 14 34 54</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>19</b> 09 29 49</td><td>-</td><td>-</td>
      </tr>
      </table>
{% endblock %}
