{% extends 'base.html' %}

{% block content %}
    <h1><center>160 Strzeszyn - Garbary/Garbary - Strzeszyn</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="SG">
      <h3>Strzeszyn - Garbary</h3>
      <ul>

        <li>Strzeszyn</li>
        <li>Instytut MR (na żądanie)</li>
        <li>Podolany</li>
        <li>Sucholeska (na żądanie)</li>
        <li>Synów Pułku (na żądanie)</li>
        <li>Kosowska</li>
        <li>Kartuska (na żądanie)</li>
        <li>Lubieńska (na żądnie)</li>
        <li>Druskienicka</li>
        <li>Truskawiecka (na żądanie)</li>
        <li>Szczawnicka (na żądnie)</li>
        <li>Podolańska (na żądanie)</li>
        <li>Golęcin</li>
        <li>Wojska Polskiego (na żądanie)</li>
        <li>Wojska Polskiego</li>
        <li>Uniwersytet Przyrodniczy</li>
        <li>Śląska</li>
        <li>Nad Wierzbakiem</li>
        <li>Klin (na żądanie)</li>
        <li>Nowowiejskiego</li>
        <li>Solna</li>
        <li>Małe Garbary</li>
        <li>Garbary</li>
      </ul>
        <h3>Garbary - Strzeszyn</h3>
      <ul>

        <li>Garbary</li>
        <li>Grochowe Łąki</li>
        <li>Małe Garbary</li>
        <li>Solna</li>
        <li>Nowowiejskiego</li>
        <li>Klin (NŻ)</li>
        <li>Nad Wierzbakiem</li>
        <li>Śląska</li>
        <li>Uniwersytet Przyrodniczy</li>
        <li>Wojska Polskiego</li>
        <li>Golęcin</li>
        <li>Podolańska (NŻ)</li>
        <li>Szczawnicka (NŻ)</li>
        <li>Truskawiecka (NŻ)</li>
        <li>Druskienicka</li>
        <li>Lubieńska (NŻ)</li>
        <li>Kartuska (NŻ)</li>
        <li>Kosowska</li>
        <li>Białczańska</li>
        <li>Synów Pułku (NŻ)</li>
        <li>Sucholeska (NŻ)</li>
        <li>Podolany</li>
        <li>Instytut MR (NŻ)</li>
        <li>Strzeszyn</li>
      </ul>
    </div>
      <table style="float:left">
      <caption>Strzeszyn - Garbary</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
      </tr>
      <tr>
        <td>4 58</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>5 18 38 58</td><td>5 15 48</td><td>-</td>
      </tr>
      <tr>
        <td>6 18 38 58</td><td>6 15 48</td><td>-</td>
      </tr>
      <tr>
        <td>7 33</td><td>7 15 48</td><td>7 18 51</td>
      </tr>
      <tr>
        <td>8 13 53</td><td>8 15 48</td><td>8 18 51</td>
      </tr>
      <tr>
        <td>9 13</td><td>9 15 48</td><td>9 18 51</td>
      </tr>
      <tr>
        <td>10 07</td><td>10 15 48</td><td>10 18 51</td>
      </tr>
      <tr>
        <td>11 07</td><td>11 15 48</td><td>11 18 51</td>
      </tr>
      <tr>
        <td>12 07</td><td>12 15 48</td><td>12 18 51</td>
      </tr>
      <tr>
        <td>13 07 37</td><td>13 18 48</td><td>13 18 51</td>
      </tr>
      <tr>
        <td>14 37</td><td>14 18 48</td><td>14 18 51</td>
      </tr>
      <tr>
        <td>15 12 32</td><td>15 18 48</td><td>15 18 51</td>
      </tr>
      <tr>
        <td>16 12 52</td><td>16 18 48</td><td>16 18 51/<td>
      </tr>
      <tr>
        <td>17 12 52</td><td>17 18 48</td><td>17 18 51</td>
      </tr>
      <tr>
        <td>18 12 32 52</td><td>18 15 48</td><td>18 18 51</td>
      </tr>
      <tr>
        <td>19 25 58</td><td>19 15 48</td><td>19 18 51</td>
      </tr>
      <tr>
        <td>20 25 58</td><td>20 15 48</td><td>20 18 51</td>
      </tr>
      <tr>
        <td>21 25 58</td><td>21 15 48</td><td>21 18 51</td>
      </tr>
      <tr>
        <td>22 25 58</td><td>22 15 48</td><td>22 18 51</td>
      </tr>
      <tr>
        <td>23 18</td><td>15</td><td>23 18</td>
      </table>
      <table style="float:right">
      <caption>Garbary Strzeszyn</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
      </tr>
      <tr>
        <td>4 58</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>5 18 38 58</td><td>5 15 48</td><td>-</td>
      </tr>
      <tr>
        <td>6 18 38 58</td><td>6 15 48</td><td>-</td>
      </tr>
      <tr>
        <td>7 33</td><td>7 15 48</td><td>7 18 51</td>
      </tr>
      <tr>
        <td>8 13 53</td><td>8 15 48</td><td>8 18 51</td>
      </tr>
      <tr>
        <td>9 13</td><td>9 15 48</td><td>9 18 51</td>
      </tr>
      <tr>
        <td>10 07</td><td>10 15 48</td><td>10 18 51</td>
      </tr>
      <tr>
        <td>11 07</td><td>11 15 48</td><td>11 18 51</td>
      </tr>
      <tr>
        <td>12 07</td><td>12 15 48</td><td>12 18 51</td>
      </tr>
      <tr>
        <td>13 07 37</td><td>13 18 48</td><td>13 18 51</td>
      </tr>
      <tr>
        <td>14 37</td><td>14 18 48</td><td>14 18 51</td>
      </tr>
      <tr>
        <td>15 12 32</td><td>15 18 48</td><td>15 18 51</td>
      </tr>
      <tr>
        <td>16 12 52</td><td>16 18 48</td><td>16 18 51/<td>
      </tr>
      <tr>
        <td>17 12 52</td><td>17 18 48</td><td>17 18 51</td>
      </tr>
      <tr>
        <td>18 12 32 52</td><td>18 15 48</td><td>18 18 51</td>
      </tr>
      <tr>
        <td>19 25 58</td><td>19 15 48</td><td>19 18 51</td>
      </tr>
      <tr>
        <td>20 25 58</td><td>20 15 48</td><td>20 18 51</td>
      </tr>
      <tr>
        <td>21 25 58</td><td>21 15 48</td><td>21 18 51</td>
      </tr>
      <tr>
        <td>22 25 58</td><td>22 15 48</td><td>22 18 51</td>
      </tr>
      <tr>
        <td>23 18</td><td>15</td><td>23 18</td>
      </table>
{% endblock %}
