{% extends 'base.html' %}

{% block content %}
    <h1><center>160 Strzeszyn - Garbary/Garbary - Strzeszyn</center></h1>
    <h2><left>Przystanki:</left></h2>
    <div id="SG">
      <h3>Strzeszyn - Garbary</h3>
      <ul>

        <li>Strzeszyn</li>
        <li>Instytut MR (na żądanie)</li>
        <li>Podolany</li>
        <li>Sucholeska (na żądanie)</li>
        <li>Synów Pułku (na żądanie)</li>
        <li>Kosowska</li>
        <li>Kartuska (na żądanie)</li>
        <li>Lubieńska (na żądnie)</li>
        <li>Druskienicka</li>
        <li>Truskawiecka (na żądanie)</li>
        <li>Szczawnicka (na żądnie)</li>
        <li>Podolańska (na żądanie)</li>
        <li>Golęcin</li>
        <li>Wojska Polskiego (na żądanie)</li>
        <li>Wojska Polskiego</li>
        <li>Uniwersytet Przyrodniczy</li>
        <li>Śląska</li>
        <li>Nad Wierzbakiem</li>
        <li>Klin (na żądanie)</li>
        <li>Nowowiejskiego</li>
        <li>Solna</li>
        <li>Małe Garbary</li>
        <li>Garbary</li>
      </ul>
        <h3>Garbary - Strzeszyn</h3>
      <ul>

        <li>Garbary</li>
        <li>Grochowe Łąki</li>
        <li>Małe Garbary</li>
        <li>Solna</li>
        <li>Nowowiejskiego</li>
        <li>Klin (NŻ)</li>
        <li>Nad Wierzbakiem</li>
        <li>Śląska</li>
        <li>Uniwersytet Przyrodniczy</li>
        <li>Wojska Polskiego</li>
        <li>Golęcin</li>
        <li>Podolańska (NŻ)</li>
        <li>Szczawnicka (NŻ)</li>
        <li>Truskawiecka (NŻ)</li>
        <li>Druskienicka</li>
        <li>Lubieńska (NŻ)</li>
        <li>Kartuska (NŻ)</li>
        <li>Kosowska</li>
        <li>Białczańska</li>
        <li>Synów Pułku (NŻ)</li>
        <li>Sucholeska (NŻ)</li>
        <li>Podolany</li>
        <li>Instytut MR (NŻ)</li>
        <li>Strzeszyn</li>
      </ul>
    </div>
      <table style="float:left">
      <caption>Strzeszyn - Garbary</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
      </tr>
      <tr>
        <td><b>4</b> 58</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>5</b> 18 38 58</td><td><b>5</b> 15 48</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 18 38 58</td><td><b>6</b> 15 48</td><td>-</td>
      </tr>
      <tr>
        <td><b>7</b> 33</td><td><b>7</b> 15 48</td><td><b>7</b> 18 51</td>
      </tr>
      <tr>
        <td><b>8</b> 13 53</td><td><b>8</b> 15 48</td><td><b>8</b> 18 51</td>
      </tr>
      <tr>
        <td><b>9</b> 13</td><td><b>9</b> 15 48</td><td><b>9</b> 18 51</td>
      </tr>
      <tr>
        <td><b>10</b> 07</td><td><b>10</b> 15 48</td><td><b>10</b> 18 51</td>
      </tr>
      <tr>
        <td><b>11</b> 07</td><td><b>11</b> 15 48</td><td><b>11</b> 18 51</td>
      </tr>
      <tr>
        <td><b>12</b> 07</td><td><b>12</b> 15 48</td><td><b>12</b> 18 51</td>
      </tr>
      <tr>
        <td><b>13</b> 07 37</td><td><b>13</b> 18 48</td><td><b>13</b> 18 51</td>
      </tr>
      <tr>
        <td><b>14</b> 37</td><td><b>14</b> 18 48</td><td><b>14</b> 18 51</td>
      </tr>
      <tr>
        <td><b>15</b> 12 32</td><td><b>15</b> 18 48</td><td><b>15</b> 18 51</td>
      </tr>
      <tr>
        <td><b>16</b> 12 52</td><td><b>16</b> 18 48</td><td><b>16</b> 18 51/<td>
      </tr>
      <tr>
        <td><b>17</b> 12 52</td><td><b>17</b> 18 48</td><td><b>17</b> 18 51</td>
      </tr>
      <tr>
        <td><b>18</b> 12 32 52</td><td><b>18</b> 15 48</td><td><b>18</b> 18 51</td>
      </tr>
      <tr>
        <td><b>19</b> 25 58</td><td><b>19</b> 15 48</td><td><b>19</b> 18 51</td>
      </tr>
      <tr>
        <td><b>20</b> 25 58</td><td><b>20</b> 15 48</td><td><b>20</b> 18 51</td>
      </tr>
      <tr>
        <td><b>21</b> 25 58</td><td><b>21</b> 15 48</td><td><b>21</b> 18 51</td>
      </tr>
      <tr>
        <td><b>22</b> 25 58</td><td><b>22</b> 15 48</td><td><b>22</b> 18 51</td>
      </tr>
      <tr>
        <td><b>23</b> 18</td><td><b>23</b> 15</td><td><b>23</b> 18</td>
      </table>
      <table style="float:right">
      <caption>Garbary Strzeszyn</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
      </tr>
      <tr>
        <td><b>4</b> 58</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td><b>5</b> 18 38 58</td><td><b>5</b> 15 48</td><td>-</td>
      </tr>
      <tr>
        <td><b>6</b> 18 38 58</td><td><b>6</b> 15 48</td><td>-</td>
      </tr>
      <tr>
        <td><b>7</b> 33</td><td><b>7</b> 15 48</td><td><b>7</b> 18 51</td>
      </tr>
      <tr>
        <td><b>8</b> 13 53</td><td><b>8</b> 15 48</td><td><b>8</b> 18 51</td>
      </tr>
      <tr>
        <td><b>9</b> 13</td><td><b>9</b> 15 48</td><td><b>9</b> 18 51</td>
      </tr>
      <tr>
        <td><b>10</b> 07</td><td><b>10</b> 15 48</td><td><b>10</b> 18 51</td>
      </tr>
      <tr>
        <td><b>11</b> 07</td><td><b>11</b> 15 48</td><td><b>11</b> 18 51</td>
      </tr>
      <tr>
        <td><b>12</b> 07</td><td><b>12</b> 15 48</td><td><b>12</b> 18 51</td>
      </tr>
      <tr>
        <td><b>13</b> 07 37</td><td><b>13</b> 18 48</td><td><b>13</b> 18 51</td>
      </tr>
      <tr>
        <td><b>14</b> 37</td><td><b>14</b> 18 48</td><td><b>14</b> 18 51</td>
      </tr>
      <tr>
        <td><b>15</b> 12 32</td><td><b>15</b> 18 48</td><td><b>15</b> 18 51</td>
      </tr>
      <tr>
        <td><b>16</b> 12 52</td><td><b>16</b> 18 48</td><td><b>16</b> 18 51/<td>
      </tr>
      <tr>
        <td><b>17</b> 12 52</td><td><b>17</b> 18 48</td><td><b>17</b> 18 51</td>
      </tr>
      <tr>
        <td><b>18</b> 12 32 52</td><td><b>18</b> 15 48</td><td><b>18</b> 18 51</td>
      </tr>
      <tr>
        <td><b>19</b> 25 58</td><td><b>19</b> 15 48</td><td><b>19</b> 18 51</td>
      </tr>
      <tr>
        <td><b>20</b> 25 58</td><td><b>20</b> 15 48</td><td><b>20</b> 18 51</td>
      </tr>
      <tr>
        <td><b>21</b> 25 58</td><td><b>21</b> 15 48</td><td><b>21</b> 18 51</td>
      </tr>
      <tr>
        <td><b>22</b> 25 58</td><td><b>22</b> 15 48</td><td><b>22</b> 18 51</td>
      </tr>
      <tr>
        <td><b>23</b> 18</td><td><b>23</b> 15</td><td><b>23</b> 18</td>
      </table>
{% endblock %}
