{% extends 'base.html' %}

{% block content %}
    <h1><center>4-STAROŁĘKA-POŁABSKA/POŁABSKA-STAROŁĘKA</center></h1>
    <h3><left>Przystanki:</left></h3>
    <div id="sp">
      <h3>Starołęka-Połabska</h3>
      <ul>
        <li>Starołęka</li>
        <li>Bystra</li>
        <li>Stomil</li>
        <li>Rondo Starołęka</li>
        <li>Rondo Starołęka</li>
        <li>Os.Rzeczypospolitej</li>
        <li>Os. Piastowskie</li>
        <li>Wioślarska</li>
        <li>Rondo Rataje</li>
        <li>Kórnicka</li>
        <li>Kórnicka</li>
        <li>Baraniaka</li>
        <li>Rondo Śródka</li>
        <li>Katedra</li>
        <li>Małe Garbary</li>
        <li>Pl. Wielkopolski</li>
        <li>Pl.Ratajskiego</li>
        <li>Fredry</li>
        <li>Most Teatralny</li>
        <li>Poznańska</li>
        <li>Wielkopolska</li>
        <li>Armii Poznań</li>
        <li>Żniwna</li>
        <li>Pasieka</li>
        <li>Murawa</li>
        <li>Os. Pod Lipami</li>
        <li>Rondo Solidarności</li>
        <li>Połabska</li>
      </ul>
      <h3>Połabska-Starołęka</h3>
      <ul>
        <li>Połabska</li>
        <li>Rondo Solidarności</li>
        <li>Os. Pod Lipami</li>
        <li>Murawa</li>
        <li>Pasieka</li>
        <li>Żniwna</li>
        <li>Armii Poznań</li>
        <li>Wielkopolska</li>
        <li>Poznańska</li>
        <li>Most Teatralny</li>
        <li>Fredry</li>
        <li>Pl. Ratajskiego</li>
        <li>Pl. Wielkopolski</li>
        <li>Małe Garbary</li>
        <li>Katedra</li>
        <li>Rondo Śródka</li>
        <li>Rondo Śródka</li>
        <li>Baraniaka</li>
        <li>Kórnicka</li>
        <li>Rondo Rataje</li>
        <li>Wioślarska</li>
        <li>Os. Piastowskie</li>
        <li>Os. Rzeczypospolitej</li>
        <li>Rondo Starołęka</li>
        <li>Rondo Starołęka</li>
        <li>Stomil</li>
        <li>Bystra</li>
        <li>Starołęka<li>
      </ul>
    </div>
    <table style="float:left">
    <caption>Starołęka-Połabska</caption>
    <tr>
      <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
    </tr>
    <tr>
      <td><b>4</b> 13 26 36 46</td><td><b>4</b> 18 33 41</td><td><b>4</b> -<td/>
    </tr>
    <tr>
      <td><b>5</b> 01 15 27 42 57</td><td><b>5</b> 01 20 37 57</td><td><b>5</b> 23 48 58<td/>
    </tr>
    <tr>
      <td><b>6</b> 12 27 43</td><td><b>6</b> 17 37 57</td><td><b>6</b> 28 58<td/>
    </tr>
    <tr>
      <td><b>7</b> 03 23 43</td><td><b>7</b> 17 37 57</td><td><b>7</b> 28 58<td/>
    </tr>
    <tr>
      <td><b>8</b> 03 23 43</td><td><b>8</b> 17 37 57</td><td><b>8</b> 28 57<td/>
    </tr>
    <tr>
      <td><b>9</b> 02 26 50</td><td><b>9</b> 17 37 57</td><td><b>9</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>10</b> 14 38</td><td><b>10</b> 17 37 57</td><td><b>10</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>11</b> 02 26 50</td><td><b>11</b> 17 37 57</td><td><b>11</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>12</b> 14 38</td><td><b>12</b> 17 37 57</td><td><b>12</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>13</b> 02 26 50</td><td><b>13</b> 17 37 57</td><td><b>13</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>14</b> 13 27 33 53</td><td><b>14</b> 17 37 57</td><td><b>14</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>15</b> 13 33 53</td><td><b>15</b> 17 37 57</td><td><b>15</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>16</b> 13 33 53</td><td><b>16</b> 17 37 57</td><td><b>16</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>17</b> 13 33 53</td><td><b>17</b> 17 37 57</td><td><b>17</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>18</b> 13 35 57</td><td><b>18</b> 17 37 57</td><td><b>18</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>19</b> 17 37 57</td><td><b>19</b> 17 37 57</td><td><b>19</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>20</b> 17 37 57</td><td><b>20</b> 17 37 57</td><td><b>20</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>21</b> 17 37 57</td><td><b>21</b> 17 37 57</td><td><b>21</b> 17 37 57<td/>
    </tr>
    <tr>
      <td><b>22</b> 17 37</td><td><b>22</b> 17 37 </td><td><b>22</b> 17 37<td/>
    </tr>
    </table>
    <table style="float:right">
    <caption>Połabska-Starołęka</caption>
    <tr>
      <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
    </tr>
    <tr>
      <td><b>4</b> 51</td><td><b>4</b> 55</td><td><b>4</b> -<td/>
    </tr>
    <tr>
      <td><b>5</b> 04 18 33 48</td><td><b>5</b> 14 33 53</td><td><b>5</b> -<td/>
    </tr>
    <tr>
      <td><b>6</b> 03 18 35 55</td><td><b>6</b> 13 33 53</td><td><b>6</b> 02 32<td/>
    </tr>
    <tr>
      <td><b>7</b> 15 35 55</td><td><b>7</b> 13 33 53</td><td><b>7</b> 02 32<td/>
    </tr>
    <tr>
      <td><b>8</b> 15 35 55</td><td><b>8</b> 13 33 53</td><td><b>8</b> 02 32<td/>
    </tr>
    <tr>
      <td><b>9</b> 15 23 39</td><td><b>9</b> 13 33 53</td><td><b>9</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>10</b> 03 27 51</td><td><b>10</b> 13 33 53</td><td><b>10</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>11</b> 15 39</td><td><b>11</b> 13 33 53</td><td><b>11</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>12</b> 03 27 51</td><td><b>12</b> 13 33 53</td><td><b>12</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>13</b> 15 39</td><td><b>13</b> 13 33 53</td><td><b>13</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>14</b> 05 25 45</td><td><b>14</b> 13 33 53</td><td><b>14</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>15</b> 05 25 45</td><td><b>15</b> 13 33 53</td><td><b>15</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>16</b> 05 25 45</td><td><b>16</b> 13 33 53</td><td><b>16</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>17</b> 05 25 45</td><td><b>17</b> 13 33 53</td><td><b>17</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>18</b> 05 25 37 53</td><td><b>18</b> 13 33 53</td><td><b>18</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>19</b> 13 33 53</td><td><b>19</b> 13 33 53</td><td><b>19</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>20</b> 13 33 53</td><td><b>20</b> 13 33 53</td><td><b>20</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>21</b> 13 33 53</td><td><b>21</b> 13 33 53</td><td><b>21</b> 02 32 53<td/>
    </tr>
    <tr>
      <td><b>22</b> 13 33 43</td><td><b>22</b> 13 33 43</td><td><b>22</b> 02 32 43<td/>
    </tr>
    <tr>
      <td><b>23</b> 02 17</td><td><b>23</b> 02 17</td><td><b>23</b> 02 17</td>
    </table>





{% endblock %}
