{% extends 'base.html' %}

{% block content %}
    <li><center><a href="{% url 'stronaglowna' %}">Strona główna</a></center></li>
    <h1><center><font size="7">ROZKŁAD JAZDY</font></center></h1>


    <h2><center><font size="6">Poszę wybrać opcję</font></center></h2>
    <img src="static\img\trwamwaj.png" width="160" height="160" >

    <img src="static\img\autobus.png" width="200" height="200" align="right">
    <li><font size="6"><a href="{% url 'rozklad' %}"><p align="right"</p>Rozkład jazdy autobusów</a></font></li>
    <li><font size="6"><a href="{% url 'tramwaje' %}"><p align="left"</p>Rozkład jazdy tramwajów</a></font></li>


{% endblock %}
