{% extends 'base.html' %}

{% block content %}


    <h1><center><font size="7">ROZKŁAD JAZDY</font></center></h1>
    <p><center><font size="5">ZTM i MPK Poznań</font></center></p>



    <h2><u><center><font size="6">Proszę wybrać opcję:</font></center></u></h2>

      <div id="t">
        <input type="button" value="Rozkład jazdy tramwajów" style="width: 250px; height: 45px" onclick="location.href='trawmaje/';"/>
      </div>
      <div id="a">
        <input type="button" value="Rozkład jazdy autobusów" style="width: 230px; height: 45px" onclick="location.href='autobusy/';"/>
      </div>
      <div id="img1">
        <img src="static\img\trwamwaj.png" width="230" height="200">
      </div>
      <div id="img2">
        <img src="static\img\autobus.png" width="200" height="180">
      </div>
      <div id="i">
        <p>Niniejsza strona jest uproszczonym rozkładem jazdy. W razie potrzeby szczegółowych informacji zapraszamy na poniższą stronę:</p>
      </div>
      <div id="l">
        <a href="https://www.ztm.poznan.pl/">https://www.ztm.poznan.pl/</a>
      </div>



{% endblock %}
