{% extends 'base.html' %}

{% block content %}
    <h1><center>Rozkład jazdy tramwajów</center></h1>

    <p><center>Trasy</center></p>
    <li><font size="6"><a href="{% url 'jf' %}">1-Junikowo-Franowo</a></font</li>
    <li><a href="{% url 'fj' %}">1-Franowo-Junikowo</a></li>
    <li><a href="{% url 'od' %}">2-Ogrody-Dębiec</a></li>
    <li><a href="{% url 'do' %}">2-Dębiec-Ogrody</a></li>
    <li><a href="{% url 'gw' %}">3-Górczyn-Wilczak</a></li>
    <li><a href="{% url 'wg' %}">3-Wilczak-Górczyn</a></li>
    <li><a href="{% url 'sp' %}">4-Starołęka-Połabska</a></li>
    <li><a href="{% url 'ps' %}">4-Połabska-Starołęka</a></li>
{% endblock %}
