{% extends 'base.html' %}

{% block content %}
    <h1><center>Rozkład jazdy tramwajów</center></h1>

    <p><center><font size="6">Trasy:</font></center></p>
    <li><font size="6"><a href="{% url 'jf' %}">1-Junikowo-Franowo/Franowo-Junikowo</a></font</li>
    <li><a href="{% url 'od' %}">2-Ogrody-Dębiec/Dębiec-Ogrody</a></li>
    <li><a href="{% url 'wg' %}">3-Wilczak-Górczyn/Górczyn-Wilczak</a></li>
    <li><a href="{% url 'sp' %}">4-Starołęka-Połabska/Połabska-Starołęka</a></li>
    <li><a href="{% url 'gs' %}">5-Górczyn-Stomil/Stomil-Górczyn</a></li>
    <li><a href="{% url 'jm' %}">6-Junikowo-Miłostowo/Miłostowo-Junikowo</a></li>
{% endblock %}
