{% extends 'base.html' %}

{% block content %}
    <h1><center>3-WILCZAK-GÓRCZYN/GÓRCZYN-WILCZAK</center></h1>
    <h3><left>Przystanki:</left></h3>
    <div id="wg">
      <h3>Wilczak-Górczyn</h3>
      <ul>
        <li>Wilczak</li>
        <li>Przełajowa</li>
        <li>Kmieca</li>
        <li>Pasieka</li>
        <li>Żniwna</li>
        <li>Armii Poznań</li>
        <li>Wielkopolska</li>
        <li>Poznańska</li>
        <li>Most Teatralny</li>
        <li>Fredry</li>
        <li>Pl. Ratajskiego</li>
        <li>Pl. Wielkopolski</li>
        <li>Małe Garbary</li>
        <li>Katedra</li>
        <li>Rondo Śródka</li>
        <li>Rondo Śródka</li>
        <li>Baraniaka</li>
        <li>Kórnicka</li>
        <li>Rondo Rataje</li>
        <li>Serafitek</li>
        <li>AWF</li>
        <li>Półwiejska</li>
        <li>Wierzbięcice</li>
        <li>Poznań Główny</li>
        <li>Dworzec Zachodni</li>
        <li>Park Wilsona</li>
        <li>Rynek Łazarski</li>
        <li>Głogowska-Hetmańska</li>
        <li>Krauthofera</li>
        <li>Sielska</li>
        <li>Górczyn</li>
      </ul>
      <h3>Górczyn-Wilczak</h3>
      <ul >
        <li>Górczyn</li>
        <li>Sielska</li>
        <li>Krauthofera</li>
        <li>Głogowska-Hetmańska</li>
        <li>Rynek Łazarski</li>
        <li>Park Wilsona</li>
        <li>Dworzec Zachodni</li>
        <li>Poznań Główny</li>
        <li>Wierzbięcice</li>
        <li>Półwiejska</li>
        <li>AWF</li>
        <li>Serafitek</li>
        <li>Rondo Rataje</li>
        <li>Kórnicka</li>
        <li>Kórnicka</li>
        <li>Baraniaka</li>
        <li>Rondo Śródka</li>
        <li>Rondo Śródka</li>
        <li>Katedra</li>
        <li>Małe Garbary</li>
        <li>Pl. Wielkopolski</li>
        <li>Pl.Ratajskiego</li>
        <li>Fredry</li>
        <li>Most Teatralny</li>
        <li>Poznańska</li>
        <li>Wielkopolska</li>
        <li>Armii Poznań</li>
        <li>Żniwna</li>
        <li>Pasieka</li>
        <li>Kmieca</li>
        <li>Przełajowa</li>
        <li>Wilczak</li>
      </ul>
    </div>
      <table style="float:left">
      <caption>Wilczak-Górczyn</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA<td/>
      </tr>
      <tr>
        <td>6 25 45</td><td></td><td><td/>
      </tr>
      <tr>
        <td>7 05 25 45</td><td></td><td><td/>
      </tr>
      <tr>
        <td>8 05 25 45</td><td></td><td><td/>
      </tr>
      <tr>
        <td>9 03 27 51</td><td></td><td><td/>
      </tr>
      <tr>
        <td>10 15 39</td><td></td><td><td/>
      </tr>
      <tr>
        <td>11 03 27 51</td><td></td><td><td/>
      </tr>
      <tr>
        <td>12 15 39</td><td></td><td><td/>
      </tr>
      <tr>
        <td>13 03 27 51</td><td></td><td><td/>
      </tr>
      <tr>
        <td>14 15 35 55</td><td></td><td><td/>
      </tr>
      <tr>
        <td>15 15 35 55</td><td></td><td><td/>
      </tr>
      <tr>
        <td>16 15 35 55</td><td></td><td><td/>
      </tr>
      <tr>
        <td>17 15 35 55</td><td></td><td><td/>
      </tr>
      <tr>
        <td>18 15 33 49</td><td></td><td><td/>
      </tr>
      <tr>
        <td>19 09</td><td></td><td><td/>
      </tr>
      </table>
      <table style="float:right">
      <caption>Górczyn-Wilczak</caption>
      <tr>
        <td>DNI ROBOCZE</td><td>SOBOTY</td><td>NIEDZIELE I ŚWIĘTA</td>
      <tr>
        <td>6 24 44</td><td></td><td><td/>
      </tr>
      <tr>
        <td>7 04 24 44</td><td></td><td><td/>
      </tr>
      <tr>
        <td>8 04 24 44</td><td></td><td><td/>
      </tr>
      <tr>
        <td>9 05 29 53</td><td></td><td><td/>
      </tr>
      <tr>
        <td>10 17 41</td><td></td><td><td/>
      </tr>
      <tr>
        <td>11 05 39 53</td><td></td><td><td/>
      </tr>
      <tr>
        <td>12 17 41</td><td></td><td><td/>
      </tr>
      <tr>
        <td>13 05 29 53</td><td></td><td><td/>
      </tr>
      <tr>
        <td>14 14 34 54</td><td></td><td><td/>
      </tr>
      <tr>
        <td>15 14 34 54</td><td></td><td><td/>
      </tr>
      <tr>
        <td>16 14 34 54</td><td></td><td><td/>
      </tr>
      <tr>
        <td>17 14 34 54</td><td></td><td><td/>
      </tr>
      <tr>
        <td>18 14 23 50</td><td></td><td><td/>
      </tr>
      <tr>
        <td>19 10</td><td></td><td><td/>
      </tr>
      <tr>
        <td></td><td></td><td><td/>
      </tr>
      <tr>
        <td></td><td></td><td><td/>
      </tr>
      <tr>
        <td></td><td></td><td><td/>
      </tr>
      </table>






{% endblock %}
